@charset "utf-8";
/* CSS Document */

h1 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size:70px;
	line-height: 20px;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

h2 {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	color: black;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px; 
	border: 0px;
}

h3 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 22px;
	text-decoration: none;
	color: black;
}

h4 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 0px;
	letter-spacing: 0.05em;
	margin-bottom: 30px;
	white-space: nowrap;
}

h5 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 22px;
	color: black;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

h6 {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: black;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
	border: 50px;
}

h7 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 22px;
	text-decoration: none;
	color: black;
	margin-left: 30px;
	margin-right: 30px;
}

p {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: black;
}

p1 {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: black;
}

p2 {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	color: black;
}


.logo {
	margin-left: 20px;
	margin-right: 350px;
	height: 50px;
	background-size: contain;
}

body {
	margin: 0;
	padding-bottom: 100px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.navbar {
	width: 100%;
	height: 80px;
	background: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav-button {
	height: 35px;
	margin-right: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
}

#button {
	align-items: flex-end;
}
.nav-button:hover {
	cursor:pointer;
	background-color: #D47491;
	color: white;
}

.nav-text {
	padding: 5px;
	display: inline-block;
}

#content {
	width: 800px;
	margin: auto;

}

#container {
	width: 1200px;
	height: 800px;
	margin: auto;
	align-content: center;
}

.container{
	margin: 0px;
	padding: 0px;
}

.flyer {
	height: 400px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

.flyer:hover {
	cursor:pointer;
	height: 450px;
	transition: all 0.2s;
}


.column {
  float: left;
  width: 33.33%;
	margin-top: 20px;
}

.row::after {
  clear: both;
  display: table;
}

#title-bar {
	position: relative;
	text-align: center;
}

#title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.animation {  
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 2px;
}

@keyframes animation {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

.animation{
	height: 300px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#subtitle1 {
	margin-bottom: 0px;

}
#our-mission {
	text-align: left;
}


#subtitle3 {
	text-align: left;
	width: 800px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#subtitle4 {
	text-align: left;
	width: 800px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}

#title1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#date {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 30px;
}
.form { 
	max-width:800px;
	align-content: center;
}

.feedback-input {
  background-color:#BDBDBD;
  padding: 10px;
 margin: 0px;
  width: 767px;
}

.feedback {
  background-color:#BDBDBD;
  padding: 10px;
 margin: 0px;
  width: 767px;
height: 100px;
}

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}

#subbob {
	width: 150px;
}

[type="submit"] {
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 22px;
  width: 100%;
  background: #FFD0E9;
 outline-color: black;
  border:0px;
  cursor:pointer;
  color:black;
  padding:10px;
  transition: all 0.1s;
  margin-top:15px;
float: left;
	border-style: solid;
	border-width: medium;
	border-color: black;
}

[type="submit"]:hover { 
	color: white;
	background: #D47491; }